[output_pin caselight]
pin: !PE6
value: 1

[output_pin _Zummer]    # Если убрать подчеркивание из имени то выключатель станет видимым в панели(тогда не забудьте убрать подчеркивание из макроса ниже)
pin: PA2
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001

[output_pin _ZummerTFT]    # Если убрать подчеркивание из имени то выключатель станет видимым в панели(тогда не забудьте убрать подчеркивание из макроса ниже)
pin: host:gpiochip4/gpio4
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001

[gcode_macro beep]
gcode:
  M300 P50 S300

[mcu host]
serial: /tmp/klipper_host_mcu
[mcu]
# serial: /dev/ttyS1 # если подключили по юарт в начале этой строки поставьте #
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_500051000B50305148393220-if00 # если подключили по юарт в начале этой строки поставьте #
restart_method: command

[bltouch]
sensor_pin: ^PC4
control_pin: PA8
y_offset: -17.85
x_offset: 22.65
z_offset: 2.17
speed: 10.0
samples: 10
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.05
samples_tolerance_retries: 1

[homing_heaters]
steppers: stepper_z
heaters: heater_bed, extruder

[safe_z_home]
home_xy_position: 0,0

[endstop_phase stepper_z]
trigger_phase: 124/128
endstop_align_zero: True

[gcode_macro SHUTDOWN_MACHINE]
gcode:
    {action_call_remote_method("shutdown_machine")}

[gcode_macro POWER_ON_PRINTER]
gcode:
  {action_call_remote_method(
    "set_device_power", device="Ghost6", state="on", force=True
  )}

[gcode_macro POWER_OFF_PRINTER]
gcode:
  {action_call_remote_method(
    "set_device_power", device="Ghost6", state="off"
  )}

[gcode_macro START_PRINT]
variable_retract: 1
gcode:
    POWER_ON_PRINTER
    G4 P2000

    BED_MESH_CLEAR
    {% set extruder_temp = params.EXTRUDER_TEMP|default(240)|float %}
    {% set bed_temp = params.BED_TEMP|default(70)|float %}
    {% set E = printer["gcode_macro START_PRINT"].retract|float %}
    CLEAR_PAUSE
    M220 S100                                                                   # reset feedrate
    M221 S100                                                                   # reset flowrate
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bed_temp}                  # set bed t℃
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp * 0.65}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={extruder_temp * 0.5}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp * 0.8}                # wait until bed is partially heated
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={extruder_temp * 0.75}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp * 0.9}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={extruder_temp}
    G90                                                                         # absolute positioning
    M82                                                                         # absolute extrusion mode
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp}                       # wait until
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={extruder_temp}                    # wait until
    G28                                                                         # home
    BED_MESH_PROFILE LOAD="bedmesh"
    G92 E0                                                                      # reset extruder

[gcode_macro M900]
gcode:
  {% if 'K' in params %}
    {% if 'E' in params %}
      SET_PRESSURE_ADVANCE EXTRUDER={params.E} ADVANCE={params.K}
    {% else %}
      SET_PRESSURE_ADVANCE ADVANCE={params.K}
    {% endif %}
  {% endif %}

[gcode_macro M300]
gcode:
    # Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(1000)|int %}
    # Use a 10ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=_ZummerTFT VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=_ZummerTFT VALUE=0

[gcode_macro M204]
rename_existing: M204.1
gcode:
  {% set f = params.F|default(0.5)|float %}

  {% if 'S' in params %}
    {% set s = params.S|float %}
    SET_VELOCITY_LIMIT ACCEL={s} ACCEL_TO_DECEL={ s * f }
  {% else %}
    {% if 'P' in params %}
      {% set p = params.P|float %}
      {% if 'T' in params %}
        {% set t = params.T|float %}
        {% if p < t %}
          SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
        {% else %}
          SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
        {% endif %}
      {% else %}
        SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
      {% endif %}
    {% elif 'T' in params %}
      {% set t = params.T|float %}
      SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
    {% endif %}
  {% endif %}
